version: "3.8"

services:
  api:
    build: ./backend
    container_name: news_api
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: npm run start:dev

  postgres:
    image: postgres:15
    container_name: news_postgres
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: news_app
    volumes: 
      - postgres_data:/var/lib/postgresql/data
      
  redis:
    image: redis:7
    container_name: news_redis
    ports:
      - "6379:6379"


volumes:
  postgres_data:
